body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
}

.container {
  --max-width: 1200px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 2rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.text-center {
  text-align: center;
}

.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-800 {
  padding-block: var(--size-800);
}
.padding-block-900 {
  padding-block: var(--size-900);
}
